.input {
    width: 100%;
}
  
mat-card {
    width: 300px;
    margin: auto;
    margin-top: 15%;
    text-align: center;
  }
  
mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  